{% extends "base.html" %}

{%block content %}

<h1>Jobs List</h1>

<form action="/jobs" method="POST">
    <button type="submit"> Add Job</button>
</form>

<hr>

<table border="1">
    <thead>
        <tr>
            <th>Job Title</th>
            <th>Type</th>
            <th>Salary Range</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{ job.job_title }}</td>
            <td><a href="#">Edit</a></td> | <a href="#">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}